{% extends 'base.html' %}
{% block title %}Вход{% endblock %}
{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-12 col-lg-6">
        {% if messages %}
        {% for message in messages %}
        <div class="alert {% if message.tags == 'error' %}alert-danger{% else %}alert-success{% endif%}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}

        <h2 class="mb-4">Вход в профила</h2>
        <form method="post">
            {% include 'accounts/includes/login_form.html' %}
        </form>

    </div>
</div>
{% endblock %}
