{% extends 'base.html' %}
{% load static %}
{% block title %}
    {% if category %}{{ category.name }} — {% endif %}Продукти | WoolCraft
{% endblock %}
{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'products:all_products' %}" class="text-decoration-none">Магазин</a>
        </li>
        {% if category %}
            {% if category.parent %}
            <li class="breadcrumb-item">
                <a href="{% url 'products:category_products' category.parent.slug %}"
                   class="text-decoration-none">
                    {{ category.parent.name }}
                </a>
            </li>
            {% endif %}
                <li class="breadcrumb-item active">{{ category.name }}</li>
        {% endif %}
    </ol>
</nav>

<div class="row">
    <!-- products -->
    <div class="col-12 ">
        <div class="d-flex justify-content-between align-items-center my-2">
            <h3 class="fw-bold mb-0">
                {% if category %}{{ category.name }}{% else %}Всички продукти{% endif %}
            </h3>
            <span class="text-muted small">{{ page_obj.paginator.count }} продукта</span>
        </div>

        {% if page_obj %}
        <div class="row row-cols-2 row-cols-md-4 row-cols-lg-5 g-3">
            {% for product in page_obj %}
            <div class="col">
                {% include 'includes/product_card.html' %}
            </div>
            {% endfor %}
        </div>
        {% include 'includes/paginator.html' with extra_params="" %}

    </div>
    {% else %}
    <p class="text-muted text-center py-5">Няма налични продукти в тази категория.</p>
    {% endif %}
</div>

{% endblock %}