{% csrf_token %}
<div class="form-floating mb-3">
    <input type="email"
           name="{{ form.email.name }}"
           class="form-control"
           id="{{ form.email.id_for_label }}"
           value="{{ form.email.value|default:'' }}"
           placeholder="name@ecample.com"
           required>
    <label for="{{ form.email.id_for_label }}">Имейл адрес</label>
</div>
<div class="form-floating mb-4">
    <input type="password"
           name="{{ form.password.name }}"
           class="form-control"
           id="{{ form.password.id_for_label }}"
           placeholder="Password"
           required>
    <label for="{{ form.password.id_for_label }}">Парола</label>
</div>
<button type="submit" class="btn btn-primary w-100">Вход</button>
<a href="{% url 'accounts:password_reset' %}" class="text-muted small">Забравена парола?</a>
<p class="text-center mt-2 mb-0">
    Нямате профил? <a href="{% url 'accounts:register' %}">Регистрирайте се</a>
</p>